In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import json  as js
from geopandas import GeoDataFrame
from shapely.geometry import Point
import csv

In [2]:
b = pd.read_csv('report_f_all.csv', sep = ';', encoding='utf8')

In [3]:
a = gpd.read_file('557_zone.SHP')

In [4]:
a['zid_from']=a['NO']

In [5]:
a['zid_to']=a['NO']

In [6]:
b.head()

,time_key,ts,zid_from,zid_to,15_min_ind,30_min_ind,buffer_out_ind,3_cells_ind,count_ctn
0,2019-02-07,2019-02-07 03:00:00,1,6,1,1,1,0,2
1,2019-02-07,2019-02-07 03:00:00,1,22,1,1,1,0,1
2,2019-02-07,2019-02-07 03:00:00,1,37,1,1,1,0,1
3,2019-02-07,2019-02-07 03:00:00,1,49,1,1,1,0,1
4,2019-02-07,2019-02-07 03:00:00,1,71,1,0,1,0,1

In [7]:
b=b[b['buffer_out_ind']==1]
b=b[b['30_min_ind']==1]

In [8]:
b=b[['time_key','ts','zid_from','zid_to','count_ctn']]

In [9]:
a.head()

   NO                                           geometry  zid_from  zid_to
0   1  POLYGON ((49.74624 53.47745, 49.74695 53.48435...         1       1
1   2  POLYGON ((50.26787 53.17875, 50.24173 53.20126...         2       2
2   3  POLYGON ((50.34918 53.23681, 50.35777 53.22709...         3       3
3   4  POLYGON ((50.34862 53.32653, 50.33540 53.32700...         4       4
4   5  POLYGON ((49.22210 53.59736, 49.21382 53.55950...         5       5

In [10]:
a.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [11]:
len(b)

8021065

In [12]:
b.head()

     time_key                   ts  zid_from  zid_to  count_ctn
0  2019-02-07  2019-02-07 03:00:00         1       6          2
1  2019-02-07  2019-02-07 03:00:00         1      22          1
2  2019-02-07  2019-02-07 03:00:00         1      37          1
3  2019-02-07  2019-02-07 03:00:00         1      49          1
5  2019-02-07  2019-02-07 03:00:00         1      71          1

In [13]:
#zid_from=b.drop(['zid_to'], axis=1)

In [70]:
#zid_from=b.drop(['zid_from'], axis=1)

In [13]:
zid_from_morn=zid_from[zid_from['ts'].str.contains(' 08:')]
#.append(zid_from[zid_from['ts'].str.contains(' 19:')])
#zid_from_morn=zid_from[zid_from['ts'].str.contains(' 07:', ' 08:')]
#

NameError: name 'zid_from' is not defined

In [72]:
zid_from_morn['ts'].unique()

array(['2019-02-07 15:00:00', '2019-02-07 15:30:00',
       '2019-02-08 15:00:00', '2019-02-08 15:30:00',
       '2019-02-09 15:00:00', '2019-02-09 15:30:00',
       '2019-04-11 15:00:00', '2019-04-11 15:30:00',
       '2019-04-12 15:00:00', '2019-04-12 15:30:00',
       '2019-04-13 15:00:00', '2019-04-13 15:30:00',
       '2019-07-11 15:00:00', '2019-07-11 15:30:00',
       '2019-07-12 15:00:00', '2019-07-12 15:30:00',
       '2019-07-13 15:00:00', '2019-07-13 15:30:00',
       '2019-10-17 15:00:00', '2019-10-17 15:30:00',
       '2019-10-18 15:00:00', '2019-10-18 15:30:00',
       '2019-10-19 15:00:00', '2019-10-19 15:30:00',
       '2019-02-07 17:00:00', '2019-02-07 17:30:00',
       '2019-02-08 17:00:00', '2019-02-08 17:30:00',
       '2019-02-09 17:00:00', '2019-02-09 17:30:00',
       '2019-04-11 17:00:00', '2019-04-11 17:30:00',
       '2019-04-12 17:00:00', '2019-04-12 17:30:00',
       '2019-04-13 17:00:00', '2019-04-13 17:30:00',
       '2019-07-11 17:00:00', '2019-07-11 17:30:00',
       '2019-07-12 17:00:00', '2019-07-12 17:30:00',
       '2019-07-13 17:00:00', '2019-07-13 17:30:00',
       '2019-10-17 17:00:00', '2019-10-17 17:30:00',
       '2019-10-18 17:00:00', '2019-10-18 17:30:00',
       '2019-10-19 17:00:00', '2019-10-19 17:30:00'], dtype=object)

In [84]:
zid_from_morn2=zid_from_morn.drop(['ts'], axis=1)

In [47]:
zid_from_m=pd.DataFrame(zid_from_morn2.groupby(['time_key','zid_from']).agg({'count_ctn': np.sum})).reset_index()

In [85]:
zid_from_m=pd.DataFrame(zid_from_morn2.groupby(['time_key','zid_to']).agg({'count_ctn': np.sum})).reset_index()

In [86]:
zid_from_1=zid_from_m[zid_from_m['time_key'] == '2019-02-07']
zid_from_2=zid_from_m[zid_from_m['time_key'] == '2019-02-08']
zid_from_3=zid_from_m[zid_from_m['time_key'] == '2019-02-09']
zid_from_4=zid_from_m[zid_from_m['time_key'] == '2019-04-11']
zid_from_5=zid_from_m[zid_from_m['time_key'] == '2019-04-12']
zid_from_6=zid_from_m[zid_from_m['time_key'] == '2019-04-13']
zid_from_7=zid_from_m[zid_from_m['time_key'] == '2019-07-11']
zid_from_8=zid_from_m[zid_from_m['time_key'] == '2019-07-12']
zid_from_9=zid_from_m[zid_from_m['time_key'] == '2019-07-13']
zid_from_10=zid_from_m[zid_from_m['time_key'] == '2019-10-17']
zid_from_11=zid_from_m[zid_from_m['time_key'] == '2019-10-18']
zid_from_12=zid_from_m[zid_from_m['time_key'] == '2019-10-19']

In [90]:
def merge_by_zid_from():
    t1=zid_from_1.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t2=zid_from_2.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t3=zid_from_3.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t4=zid_from_4.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t5=zid_from_5.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t6=zid_from_6.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t7=zid_from_7.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t8=zid_from_8.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t9=zid_from_9.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t10=zid_from_10.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t11=zid_from_11.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)
    t12=zid_from_12.merge(a, on='zid_from').drop(['zid_to'], axis=1).drop(['NO'], axis=1)

In [89]:
def merge_by_zid_to():
    t1=zid_from_1.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t2=zid_from_2.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t3=zid_from_3.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t4=zid_from_4.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t5=zid_from_5.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t6=zid_from_6.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t7=zid_from_7.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t8=zid_from_8.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t9=zid_from_9.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t10=zid_from_10.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t11=zid_from_11.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)
    t12=zid_from_12.merge(a, on='zid_to').drop(['zid_from'], axis=1).drop(['NO'], axis=1)

In [44]:
def save_morn_pick():
    total1 = gpd.GeoDataFrame(t1, geometry='geometry')
    total1.crs='epsg:4326'
    total1.to_file('2019-02-07_morn_pick.shp', driver='ESRI Shapefile')
    total2 = gpd.GeoDataFrame(t2, geometry='geometry')
    total2.crs='epsg:4326'
    total2.to_file('2019-02-08_morn_pick.shp', driver='ESRI Shapefile')
    total3 = gpd.GeoDataFrame(t3, geometry='geometry')
    total3.crs='epsg:4326'
    total3.to_file('2019-02-09_morn_pick.shp', driver='ESRI Shapefile')
    total4 = gpd.GeoDataFrame(t4, geometry='geometry')
    total4.crs='epsg:4326'
    total4.to_file('2019-04-11_morn_pick.shp', driver='ESRI Shapefile')
    total5 = gpd.GeoDataFrame(t5, geometry='geometry')
    total5.crs='epsg:4326'
    total5.to_file('2019-04-12_morn_pick.shp', driver='ESRI Shapefile')
    total6 = gpd.GeoDataFrame(t6, geometry='geometry')
    total6.crs='epsg:4326'
    total6.to_file('2019-04-13_morn_pick.shp', driver='ESRI Shapefile')
    total7 = gpd.GeoDataFrame(t7, geometry='geometry')
    total7.crs='epsg:4326'
    total7.to_file('2019-07-11_morn_pick.shp', driver='ESRI Shapefile')
    total8 = gpd.GeoDataFrame(t8, geometry='geometry')
    total8.crs='epsg:4326'
    total8.to_file('2019-07-12_morn_pick.shp', driver='ESRI Shapefile')
    total9 = gpd.GeoDataFrame(t9, geometry='geometry')
    total9.crs='epsg:4326'
    total9.to_file('2019-07-13_morn_pick.shp', driver='ESRI Shapefile')
    total10 = gpd.GeoDataFrame(t10, geometry='geometry')
    total10.crs='epsg:4326'
    total10.to_file('2019-10-17_morn_pick.shp', driver='ESRI Shapefile')
    total11 = gpd.GeoDataFrame(t11, geometry='geometry')
    total11.crs='epsg:4326'
    total11.to_file('2019-10-18_morn_pick.shp', driver='ESRI Shapefile')
    total12 = gpd.GeoDataFrame(t12, geometry='geometry')
    total12.crs='epsg:4326'
    total12.to_file('2019-10-19_morn_pick.shp', driver='ESRI Shapefile')

In [50]:
def save_evn_pick():
    total1 = gpd.GeoDataFrame(t1, geometry='geometry')
total1.crs='epsg:4326'
total1.to_file('2019-02-07_evn_pick.shp', driver='ESRI Shapefile')
total2 = gpd.GeoDataFrame(t2, geometry='geometry')
total2.crs='epsg:4326'
total2.to_file('2019-02-08_evn_pick.shp', driver='ESRI Shapefile')
total3 = gpd.GeoDataFrame(t3, geometry='geometry')
total3.crs='epsg:4326'
total3.to_file('2019-02-09_evn_pick.shp', driver='ESRI Shapefile')
total4 = gpd.GeoDataFrame(t4, geometry='geometry')
total4.crs='epsg:4326'
total4.to_file('2019-04-11_evn_pick.shp', driver='ESRI Shapefile')
total5 = gpd.GeoDataFrame(t5, geometry='geometry')
total5.crs='epsg:4326'
total5.to_file('2019-04-12_evn_pick.shp', driver='ESRI Shapefile')
total6 = gpd.GeoDataFrame(t6, geometry='geometry')
total6.crs='epsg:4326'
total6.to_file('2019-04-13_evn_pick.shp', driver='ESRI Shapefile')
total7 = gpd.GeoDataFrame(t7, geometry='geometry')
total7.crs='epsg:4326'
total7.to_file('2019-07-11_evn_pick.shp', driver='ESRI Shapefile')
total8 = gpd.GeoDataFrame(t8, geometry='geometry')
total8.crs='epsg:4326'
total8.to_file('2019-07-12_evn_pick.shp', driver='ESRI Shapefile')
total9 = gpd.GeoDataFrame(t9, geometry='geometry')
total9.crs='epsg:4326'
total9.to_file('2019-07-13_evn_pick.shp', driver='ESRI Shapefile')
total10 = gpd.GeoDataFrame(t10, geometry='geometry')
total10.crs='epsg:4326'
total10.to_file('2019-10-17_evn_pick.shp', driver='ESRI Shapefile')
total11 = gpd.GeoDataFrame(t11, geometry='geometry')
total11.crs='epsg:4326'
total11.to_file('2019-10-18_evn_pick.shp', driver='ESRI Shapefile')
total12 = gpd.GeoDataFrame(t12, geometry='geometry')
total12.crs='epsg:4326'
total12.to_file('2019-10-19_evn_pick.shp', driver='ESRI Shapefile')

In [88]:
def save_evn_pick_to():
    total1 = gpd.GeoDataFrame(t1, geometry='geometry')
    total1.crs='epsg:4326'
total1.to_file('2019-02-07_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total2 = gpd.GeoDataFrame(t2, geometry='geometry')
total2.crs='epsg:4326'
total2.to_file('2019-02-08_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total3 = gpd.GeoDataFrame(t3, geometry='geometry')
total3.crs='epsg:4326'
total3.to_file('2019-02-09_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total4 = gpd.GeoDataFrame(t4, geometry='geometry')
total4.crs='epsg:4326'
total4.to_file('2019-04-11_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total5 = gpd.GeoDataFrame(t5, geometry='geometry')
total5.crs='epsg:4326'
total5.to_file('2019-04-12_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total6 = gpd.GeoDataFrame(t6, geometry='geometry')
total6.crs='epsg:4326'
total6.to_file('2019-04-13_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total7 = gpd.GeoDataFrame(t7, geometry='geometry')
total7.crs='epsg:4326'
total7.to_file('2019-07-11_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total8 = gpd.GeoDataFrame(t8, geometry='geometry')
total8.crs='epsg:4326'
total8.to_file('2019-07-12_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total9 = gpd.GeoDataFrame(t9, geometry='geometry')
total9.crs='epsg:4326'
total9.to_file('2019-07-13_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total10 = gpd.GeoDataFrame(t10, geometry='geometry')
total10.crs='epsg:4326'
total10.to_file('2019-10-17_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total11 = gpd.GeoDataFrame(t11, geometry='geometry')
total11.crs='epsg:4326'
total11.to_file('2019-10-18_evn_pick_zid_to.shp', driver='ESRI Shapefile')
total12 = gpd.GeoDataFrame(t12, geometry='geometry')
total12.crs='epsg:4326'
total12.to_file('2019-10-19_evn_pick_zid_to.shp', driver='ESRI Shapefile')

In [66]:
def save_morn_pick_to():
    total1 = gpd.GeoDataFrame(t1, geometry='geometry')
    total1.crs='epsg:4326'
    total1.to_file('2019-02-07_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total2 = gpd.GeoDataFrame(t2, geometry='geometry')
    total2.crs='epsg:4326'
    total2.to_file('2019-02-08_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total3 = gpd.GeoDataFrame(t3, geometry='geometry')
    total3.crs='epsg:4326'
    total3.to_file('2019-02-09_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total4 = gpd.GeoDataFrame(t4, geometry='geometry')
    total4.crs='epsg:4326'
    total4.to_file('2019-04-11_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total5 = gpd.GeoDataFrame(t5, geometry='geometry')
    total5.crs='epsg:4326'
    total5.to_file('2019-04-12_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total6 = gpd.GeoDataFrame(t6, geometry='geometry')
    total6.crs='epsg:4326'
    total6.to_file('2019-04-13_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total7 = gpd.GeoDataFrame(t7, geometry='geometry')
    total7.crs='epsg:4326'
    total7.to_file('2019-07-11_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total8 = gpd.GeoDataFrame(t8, geometry='geometry')
    total8.crs='epsg:4326'
    total8.to_file('2019-07-12_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total9 = gpd.GeoDataFrame(t9, geometry='geometry')
    total9.crs='epsg:4326'
    total9.to_file('2019-07-13_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total10 = gpd.GeoDataFrame(t10, geometry='geometry')
    total10.crs='epsg:4326'
    total10.to_file('2019-10-17_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total11 = gpd.GeoDataFrame(t11, geometry='geometry')
    total11.crs='epsg:4326'
    total11.to_file('2019-10-18_morn_pick_zid_to.shp', driver='ESRI Shapefile')
    total12 = gpd.GeoDataFrame(t12, geometry='geometry')
    total12.crs='epsg:4326'
    total12.to_file('2019-10-19_morn_pick_zid_to.shp', driver='ESRI Shapefile')

In [ ]:
merge_by_zid_from()