In [42]:
import geopandas as gpd
import pandas as pd
import numpy as np
import json  as js
from geopandas import GeoDataFrame
from shapely.geometry import Point
import csv

In [46]:
b = pd.read_csv('CEI_report_v_1_20200813.csv', sep = ';', encoding='utf8')
a = gpd.read_file('Самарская область транспортные районы 557_zone.SHP')

In [128]:
a = a.to_crs('epsg:4326')

In [129]:
a.to_file('Samara_557_zone.SHP.shp', driver='ESRI Shapefile')

In [78]:
b2=b[b['ts'].str.contains(' 07:', ' 08:')]

In [79]:
b2.head()

       time_key                   ts  zid_from  zid_to  count_ctn
51   2019-02-07  2019-01-15 07:00:00       121     122          1
52   2019-02-07  2019-01-15 07:30:00       121     122          1
53   2019-02-07  2019-01-15 07:30:00       122     121          1
125  2019-02-07  2019-01-16 07:00:00       121     122          1
126  2019-02-07  2019-01-16 07:00:00       122     121          1

In [119]:
l=b2[b2['count_ctn']>(b['count_ctn'].max()-1900)]
l['zid_from'].unique()

array([ 16,  21,  22,  23,  25,  26,  36, 146, 162,  14,  37, 145, 156,
       161, 154,   3,  27,  19], dtype=int64)

In [120]:
zid16_from=pd.DataFrame(b[b['zid_from']==146].groupby(['time_key','zid_to','zid_from']).agg({'count_ctn': np.sum})).reset_index()
zid16_to=pd.DataFrame(b[b['zid_to']==146].groupby(['time_key','zid_from','zid_to']).agg({'count_ctn': np.sum})).reset_index()

zid22_from=pd.DataFrame(b[b['zid_from']==162].groupby(['time_key','zid_to','zid_from']).agg({'count_ctn': np.sum})).reset_index()
zid22_to=pd.DataFrame(b[b['zid_to']==162].groupby(['time_key','zid_from','zid_to']).agg({'count_ctn': np.sum})).reset_index()

In [121]:
zid16_from.head()

     time_key  zid_to  zid_from  count_ctn
0  2019-02-07       1       146         96
1  2019-02-07       2       146        260
2  2019-02-07       3       146       1160
3  2019-02-07       4       146        106
4  2019-02-07       6       146         46

In [122]:
zid_16f=zid16_from.merge(a, on='zid_to').drop(['NO'], axis=1).drop(['zid_from_y'], axis=1)
zid_16t=zid16_to.merge(a, on='zid_from').drop(['NO'], axis=1).drop(['zid_to_y'], axis=1)
zid_22f=zid22_from.merge(a, on='zid_to').drop(['NO'], axis=1).drop(['zid_from_y'], axis=1)
zid_22t=zid22_to.merge(a, on='zid_from').drop(['NO'], axis=1).drop(['zid_to_y'], axis=1)

In [123]:
zid_16f.head()

,time_key,zid_to,zid_from_x,count_ctn,geometry
0,2019-02-07,1,146,96,"POLYGON ((49.74624 53.47745, 49.74695 53.48435..."
1,2019-02-08,1,146,116,"POLYGON ((49.74624 53.47745, 49.74695 53.48435..."
2,2019-02-09,1,146,101,"POLYGON ((49.74624 53.47745, 49.74695 53.48435..."
3,2019-04-11,1,146,109,"POLYGON ((49.74624 53.47745, 49.74695 53.48435..."
4,2019-04-12,1,146,163,"POLYGON ((49.74624 53.47745, 49.74695 53.48435..."

In [124]:
zid_16f = gpd.GeoDataFrame(zid_16f[zid_16f['time_key'] == '2019-02-07'], geometry='geometry')
zid_16f.crs='epsg:4326'
zid_16f.to_file('from_146.shp', driver='ESRI Shapefile')

In [125]:
zid_16t = gpd.GeoDataFrame(zid_16t[zid_16t['time_key'] == '2019-02-07'], geometry='geometry')
zid_16t.crs='epsg:4326'
zid_16t.to_file('to_146.shp', driver='ESRI Shapefile')

In [126]:
zid_22f = gpd.GeoDataFrame(zid_22f[zid_22f['time_key'] == '2019-02-07'], geometry='geometry')
zid_22f.crs='epsg:4326'
zid_22f.to_file('from_162.shp', driver='ESRI Shapefile')

In [127]:
zid_22t = gpd.GeoDataFrame(zid_22t[zid_22t['time_key'] == '2019-02-07'], geometry='geometry')
zid_22t.crs='epsg:4326'
zid_22t.to_file('to_162.shp', driver='ESRI Shapefile')

In [139]:
b_from=b[b['zid_from'].isin([9,10,11,12,13,14,16,17,22,23,24,25,26,27,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,49,51,
])]

In [140]:
b_Samara=b_from[b_from['zid_to'].isin([9,10,11,12,13,14,16,17,22,23,24,25,26,27,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,49,51,
])]

In [141]:
b_Samara_group=pd.DataFrame(b_Samara.groupby(['time_key','ts']).agg({'count_ctn': np.sum})).reset_index()

In [142]:
b_Samara_group.to_csv('Tolyatti.csv')