In [66]:
import geopandas as gpd
from shapely import wkt
import pandas as pd
import numpy as np
import json  as js
import csv
import glob 
import psycopg2
import geopandas
import json

In [67]:
path='C:\\Users\\makol\\Documents\\Python_Scripts\\Git\\user_scripts\\masha_k\\Transnavigation\\2020_08_03\\'

In [68]:
df=pd.DataFrame()

for i,f in enumerate(glob.iglob(path+'2020-08*.csv')):
    df=df.append(pd.read_csv(f,encoding='windows-1251',sep='\t'))

C:\Users\makol\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
len(df)

3684910

In [77]:
df2=df['speed'].unique()

In [78]:
path="C:\\Users\\makol\\Documents\\Python_Scripts\\Git\\user_scripts\\masha_k\\Transnavigation\data\\"

In [76]:
id_set=pd.read_csv('Samara_mr_id_marsh_valid_id_ v2_for_03_08.csv',encoding='windows-1251',sep=';')

In [5]:
id_set.head()

   mr_id  val_id_marsh1
0    132     2103456789
1    129     2203456789
2    135     2303456789
3    136     2403456789
4    137     2603456789

In [123]:
mr_name=pd.read_csv('MR_NAME.csv',encoding='windows-1251',sep='\t')

In [124]:
l=",".join([str(i) for i in id_set['mr_id'].tolist()])

In [125]:
print(l)

132,129,135,136,137,138,139,140,141,151,133,146,10,145,127,142,143,134,176,144,126,17,18,49,62,68,98,44,20,113,23,46,24,100,47,25,36,26,14,114,35,28,30,31,39,112,12,115,120,121,119,118,111,122,103,71,97,130,306,45,27,199,60,61,81,34,38,70,1,102,187,99,48,64,15,152,32,73,59,58

In [126]:
df_select=df[df['mr_id'].isin([132,129,135,136,137,138,139,140,141,151,133,146,10,145,127,142,143,134,176,144,126,17,18,49,62,68,98,44,20,113,23,46,24,100,47,25,36,26,14,114,35,28,30,31,39,112,12,115,120,121,119,118,111,122,103,71,97,130,306,45,27,199,60,61,81,34,38,70,1,102,187,99,48,64,15,152,32,73,59,58])]

In [127]:
df_select.merge(mr_name, on = 'mr_id')

,tr_id,mr_id,mr_name_x,graph,tabelnum,condnum,timenav,long,lat,speed,mark,mr_name_y,pk_id,tt_id
0,500000054,152,67,8,1759,0,2020-08-03 05:19:07,50.234138,53.253622,0,0,67,13.0,1
1,500000054,152,67,8,1759,0,2020-08-03 05:19:17,50.234138,53.253622,0,0,67,13.0,1
2,500000054,152,67,8,1759,0,2020-08-03 05:19:26,50.234138,53.253622,0,0,67,13.0,1
3,500000054,152,67,8,1759,0,2020-08-03 05:19:37,50.234138,53.253622,0,0,67,13.0,1
4,500000054,152,67,8,1759,0,2020-08-03 05:19:47,50.234138,53.253622,0,0,67,13.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2538385,704952022,118,18,901,2109,0,2020-08-03 18:39:56,50.208135,53.229330,15,0,18,8.0,2
2538386,704952022,118,18,901,2109,0,2020-08-03 18:40:11,50.206827,53.229277,17,0,18,8.0,2
2538387,704952022,118,18,901,2109,0,2020-08-03 18:40:26,50.206535,53.229355,5,0,18,8.0,2
2538388,704952022,118,18,901,2109,0,2020-08-03 18:40:41,50.205727,53.229952,16,0,18,8.0,2
2538389,704952022,118,18,901,2109,0,2020-08-03 18:40:55,50.204472,53.230953,32,0,18,8.0,2

In [128]:
gdf = geopandas.GeoDataFrame(df_select, geometry=geopandas.points_from_xy(df_select.long, df_select.lat))
gdf.crs='epsg:4326'

In [129]:
gdf.groupby("mr_id").apply(lambda x: x.to_file(fr"C:/Users/makol/Documents/Python_Scripts/Git/user_scripts/masha_k/Transnavigation/for_project/{x.name}.shp", driver='ESRI Shapefile'))

Empty DataFrame
Columns: []
Index: []

In [44]:
stop_seq=pd.read_csv('stop_seq_v4.csv',encoding='windows-1251',sep=';')

In [45]:
stop_seq.head()

   mr_id   rc_id  rl_id  ssId  rc_orderby     ss_lat    ss_long  is_main  Dir
0     20  136519   1365   552          19  53.187009  50.118634        1    1
1     20  136518   1365   553          18  53.187367  50.118558        1    1
2     20  136517   1365    38          17  53.192697  50.122152        1    1
3     20  136516   1365    37          16  53.194078  50.123089        1    1
4     20  136515   1365    44          15  53.199276  50.130360        1    1

In [46]:
mr_rl=stop_seq[['mr_id','rl_id']].drop_duplicates()

In [47]:
mr_rl.head()

    mr_id  rl_id
0      20   1365
19     20   1366
38     24   1565
60     24   1566
85     26   1665

In [48]:
stop_seq_select=stop_seq[stop_seq['mr_id'].isin([152])]

In [31]:
stop_seq_select.head()

      mr_id    rc_id  rl_id  ssId  rc_orderby     ss_lat    ss_long  is_main
7041    152  4466543  44665   552          43  53.187009  50.118634      1.0
7042    152  4466542  44665   553          42  53.187367  50.118558      1.0
7043    152  4466541  44665    38          41  53.192697  50.122152      1.0
7044    152  4466540  44665    37          40  53.194078  50.123089      1.0
7045    152  4466539  44665    44          39  53.199276  50.130360      1.0

In [32]:
gss = geopandas.GeoDataFrame(stop_seq_select, geometry=geopandas.points_from_xy(stop_seq_select.ss_long, stop_seq_select.ss_lat))
gss.crs='epsg:4326'

In [33]:
gss.groupby("mr_id").apply(lambda x: x.to_file(fr"C:/Users/makol/Documents/Python_Scripts/Git/user_scripts/masha_k/Transnavigation/for_project/stop_seq_{x.name}.shp", driver='ESRI Shapefile'))

Empty DataFrame
Columns: []
Index: []

In [141]:
gss.to_file(fr"C:/Users/makol/Documents/Python_Scripts/Git/user_scripts/masha_k/Transnavigation/for_project/stop_seq_152.shp", driver='ESRI Shapefile')

In [49]:
graph_marsh=pd.read_csv('marshes_by_graph.csv',encoding='windows-1251',sep=';')

In [50]:
graph_marsh.head()

,mv_id,rl_id,rd_orderby,rd_lat,rd_long,linestring
0,13,1365,1,53.190950,50.190492,NaN
1,13,1365,2,53.190964,50.190988,"LINESTRING(50.190492 53.190950,50.190988 53.19..."
2,13,1365,3,53.190966,50.191096,"LINESTRING(50.190988 53.190964,50.191096 53.19..."
3,13,1365,4,53.191667,50.191031,"LINESTRING(50.191096 53.190966,50.191031 53.19..."
4,13,1365,5,53.191805,50.190975,"LINESTRING(50.191031 53.191667,50.190975 53.19..."

In [51]:
len(graph_marsh)

178745

In [53]:
graph_marsh2=graph_marsh.merge(mr_rl,on='rl_id')

In [54]:
len(graph_marsh2)

28622

In [57]:
graph_marsh2.to_csv('graph_marsh.csv')

In [58]:
graph_marsh2.head()

,mv_id,rl_id,rd_orderby,rd_lat,rd_long,linestring,mr_id
0,13,1365,1,53.190950,50.190492,NaN,20
1,13,1365,2,53.190964,50.190988,"LINESTRING(50.190492 53.190950,50.190988 53.19...",20
2,13,1365,3,53.190966,50.191096,"LINESTRING(50.190988 53.190964,50.191096 53.19...",20
3,13,1365,4,53.191667,50.191031,"LINESTRING(50.191096 53.190966,50.191031 53.19...",20
4,13,1365,5,53.191805,50.190975,"LINESTRING(50.191031 53.191667,50.190975 53.19...",20

In [59]:
graph_marsh2['mr_id'].drop_duplicates().to_csv('res.csv')

In [42]:
graph_marsh2['wkt']=graph_marsh2['linestring'].apply(wkt.loads)

Exception ignored in: <function WKTReader.__del__ at 0x0000015A6AEC4678>
Traceback (most recent call last):
  File "C:\Users\makol\Anaconda3\lib\site-packages\shapely\geos.py", line 272, in __del__
    self._lgeos.GEOSWKTReader_destroy(self._reader)
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
graph_marsh2 = gpd.GeoDataFrame(graph_marsh2, geometry='wkt')
graph_marsh2.crs='epsg:4326'

In [43]:
a = gpd.read_file('All_Marshes_from_TransNavi.shp')

In [44]:
a.groupby("mr_id").apply(lambda x: x.to_file(fr"C:/Users/makol/Documents/Python_Scripts/Git/user_scripts/masha_k/Transnavigation/for_project/graph_marsh_{x.name}.shp", driver='ESRI Shapefile'))

Empty DataFrame
Columns: []
Index: []

In [62]:
file=gpd.read_file('gdf_rt_time_price.json',encoding='windows-1251')

In [64]:
file.to_csv('STZ.csv')